## School dataset attack

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import networkx as nx
import attack.distance_vec as dist 
import sys
import pickle
import os

In [2]:
schoolName = "../data/SchoolData/"

# Landmark identification Rate

In [3]:
n_file = 0
for name in os.listdir("../data/SchoolData/"): n_file += 1

In [49]:
DEBUG_1 = True
if(DEBUG_1):
    accuracies = np.zeros((20,n_file))
    l = 0 
    for name in os.listdir("../data/SchoolData/"):
        full_name = schoolName + name
        infile = open(full_name, "rb")
        data = pickle.load(infile)
        G1 = nx.DiGraph(data["A1"])
        G2 = nx.DiGraph(data["A2"])
        lands1 = dist.find_landmarks(G1, 20)
        lands2 = dist.find_landmarks(G2, 20)
        for k in range(1, 20):
            set1 = set(lands1[:k])
            set2 = set(lands2[:k])
            accuracies[k, l] = len(set1.intersection(set2)) / k 
        l += 1

## Distance Vector

## School Data: full method

In [19]:
def n_correct(matching):
    return np.sum(np.diag(matching[0]))

In [51]:
accuracies = np.zeros((10,n_file))

l = 0 
for name in os.listdir("../data/SchoolData/"):
    print("Now processing:", name)
    full_name = schoolName + name
    infile = open(full_name, "rb")
    data = pickle.load(infile)
    G1 = nx.DiGraph(data["A1"])
    G2 = nx.DiGraph(data["A2"])
    lands1 = dist.find_landmarks(G1, 50)
    lands2 = dist.find_landmarks(G2, 50)
    for k in range(5, 50, 5):
        W = dist.generate_scores(G1, G2, lands1[:k], lands2[:k])
        match = dist.find_matching(W, lands1[:k], lands2[:k])
        accuracies[k//5,l] = n_correct(match) / len(match[0])
    l += 1

Now processing: School29data.pkl
Now processing: School1data.pkl
Now processing: School42data.pkl
Now processing: School20data.pkl
Now processing: School31data.pkl
Now processing: School21data.pkl
Now processing: School51data.pkl
Now processing: School58data.pkl
Now processing: School48data.pkl
Now processing: School49data.pkl
Now processing: School22data.pkl
Now processing: School40data.pkl
Now processing: School3data.pkl
Now processing: School27data.pkl
Now processing: School45data.pkl
Now processing: School10data.pkl
Now processing: School19data.pkl
Now processing: School26data.pkl
Now processing: School44data.pkl
Now processing: School60data.pkl
Now processing: School56data.pkl
Now processing: School24data.pkl
Now processing: School34data.pkl
Now processing: School35data.pkl
Now processing: School13data.pkl

In [196]:
np.max(accuracies)

0.03271028037383177

## School Data Artificial seeds

In [33]:
accuracies2 = np.zeros((n_file))

l = 0 
for name in os.listdir("../data/SchoolData/"):
    print("Now processing:", name)
    full_name = schoolName + name
    infile = open(full_name, "rb")
    data = pickle.load(infile)
    G1 = nx.DiGraph(data["A1"])
    G2 = nx.DiGraph(data["A2"])
    seeds = np.random.choice([i for i in range(len(G1))], size=50)
    #for k in range(5, 50, 5):
    k = 50
    W = dist.generate_scores(G1, G2, seeds[:k], seeds[:k])
    match = dist.find_matching(W, seeds[:k], seeds[:k])
    accuracies2[l] = n_correct(match) / len(match[0])
    l += 1

Now processing: School29data.pkl
Now processing: School1data.pkl
Now processing: School42data.pkl
Now processing: School20data.pkl
Now processing: School31data.pkl
Now processing: School21data.pkl
Now processing: School51data.pkl
Now processing: School58data.pkl
Now processing: School48data.pkl
Now processing: School49data.pkl
Now processing: School22data.pkl
Now processing: School40data.pkl
Now processing: School3data.pkl
Now processing: School27data.pkl
Now processing: School45data.pkl
Now processing: School10data.pkl
Now processing: School19data.pkl
Now processing: School26data.pkl
Now processing: School44data.pkl
Now processing: School60data.pkl
Now processing: School56data.pkl
Now processing: School24data.pkl
Now processing: School34data.pkl
Now processing: School35data.pkl
Now processing: School13data.pkl

In [35]:
np.mean(accuracies2), np.max(accuracies2), np.min(accuracies2)

(0.2753340905978081, 0.5892857142857143, 0.14849624060150377)

## St andrews Data

In [39]:
G1 = nx.read_adjlist("../data/local_data.txt", nodetype=int)
G2 = nx.read_adjlist("../data/social_network.txt", nodetype=int)
accuracies3 = {}

for k in [2,4,6,8,10,12]:
    lands1 = dist.find_landmarks(G1, k)
    lands2 = dist.find_landmarks(G2, k)
    W = dist.generate_scores(G1, G2, lands1[:k], lands2[:k])
    match = dist.find_matching(W, lands1[:k], lands2[:k])
    accuracies3[k] = n_correct(match)/len(G1)

IndexError: index 17 is out of bounds for axis 1 with size 16

In [21]:
np.diag(match[0])

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [22]:
accuracies3

{2: 0.04, 4: 0.04, 6: 0.0, 8: 0.08, 10: 0.0, 12: 0.08}

## St Andrews Artificial seeds

In [41]:
G1 = nx.read_edgelist("../data/local_data.txt", nodetype=int)
G2 = nx.read_edgelist("../data/social_network.txt", nodetype=int)

In [42]:
G1.number_of_nodes(), G2.number_of_nodes()

(16, 25)

In [40]:
G1 = nx.read_edgelist("../data/local_data.txt", nodetype=int)
G2 = nx.read_edgelist("../data/social_network.txt", nodetype=int)
accuracies4 = {}

seeds = np.random.choice([i for i in range(len(G1))],size=len(G1))

for k in [2,4,6,8,10,12]:
    W = dist.generate_scores(G1, G2, seeds[:k], seeds[:k])
    match = dist.find_matching(W, seeds[:k], seeds[:k])
    accuracies4[k] = n_correct(match)

IndexError: index 17 is out of bounds for axis 1 with size 16

In [37]:
accuracies4

{}

## Email eu Core

In [65]:
G1 = nx.read_edgelist("data/email-Eu-core.txt", nodetype=int)
G2 = nx.read_edgelist("results/anon_graph.txt", nodetype=int)
answer = pd.read_csv("results/answers.txt", sep=" ", header= None )

In [66]:
answer

         0    1
0        0  710
1        1  666
2        2  298
3        3  356
4        4  571
...    ...  ...
1000  1000  835
1001  1001  192
1002  1002  629
1003  1003  559
1004  1004  684

[1005 rows x 2 columns]

In [67]:
accuracies5 = {}

for k in [10,15,20,25,30,35,40,45,50]:
    lands1 = dist.find_landmarks(G1, k)
    lands2 = dist.find_landmarks(G2, k)
    W = dist.generate_scores(G1, G2, lands1[:k], lands2[:k])
    match = dist.find_matching(W, lands1[:k], lands2[:k])
    score = 0 
    for i in range(len(match[0])):
        score += (np.argmax(match[0][i,:]) == answer[1].iloc[i])
    accuracies5[k] = score

In [195]:
950/1005

0.945273631840796

# Method 2

In [4]:
import attack.sample as sample

# Email EU

In [43]:
import attack.sample as sample
G1 = nx.read_edgelist("data/email-Eu-core.txt", nodetype=int)
G2 = nx.read_edgelist("results/anon_graph.txt", nodetype=int)
answer = pd.read_csv("results/answers.txt", sep=" ", header= None )


lands1 = dist.find_landmarks(G1, 40)
lands2 = dist.find_landmarks(G2, 40)
lands_map = {lands1[i] : lands2[i] for i in range(40)}
mapping = sample.deAnon(G1,G2,lands_map,20)

Iteration  0  has: True
Iteration  1  has: False

In [6]:
len(mapping)

138

In [7]:
score = 0 
for i in mapping: 
    a = answer[0].iloc[i]
    b = answer[1].iloc[i]
    if(i != a): 
        print("mmmmmm")
    else:
        score += (b == mapping[i])

In [8]:
score / len(mapping)

0.9637681159420289

## St andrews

In [23]:
G1 = nx.read_adjlist("../data/local_data.txt", nodetype=int)
G2 = nx.read_adjlist("../data/social_network.txt", nodetype=int)

accuracies7 = {}

for k in [2,4,6,8,10]:
    lands1 = dist.find_landmarks(G1, k)
    lands2 = dist.find_landmarks(G2, k)
    lands_map = {lands1[i] : lands2[i] for i in range(k)}
    mapping = sample.deAnon(G1,G2,lands_map,k)
    s = 0 
    for i in mapping:
        s += (mapping[i] == i)
    accuracies7[k] = s

Iteration  0  has: True
Iteration  1  has: False
Iteration  0  has: True
Iteration  1  has: False
Iteration  0  has: True
Iteration  1  has: False
Iteration  0  has: True
Iteration  1  has: False
Iteration  0  has: True
Iteration  1  has: False

In [24]:
accuracies7

{2: 0, 4: 0, 6: 0, 8: 0, 10: 0}

## With Artificial Seeds

In [25]:
seeds = np.random.choice([i for i in range(len(G1))], size=len(G1))
G1 = nx.read_adjlist("../data/local_data.txt", nodetype=int)
G2 = nx.read_adjlist("../data/social_network.txt", nodetype=int)

accuracies8 = {}

for k in [2,4,6,8,10]:
    lands_map = {seeds[i] : seeds[i] for i in range(k)}
    mapping = sample.deAnon(G1,G2,lands_map,k)
    s = 0 
    for i in mapping:
        s += (mapping[i] == i)
    accuracies8[k] = s

Iteration  0  has: True
Iteration  1  has: True
Iteration  0  has: True
Iteration  1  has: False
Iteration  0  has: False
Iteration  0  has: False
Iteration  0  has: False

In [26]:
accuracies8

{2: 3, 4: 4, 6: 6, 8: 7, 10: 8}

In [10]:
def match_correct(mapping):
    s = 0 
    for i in mapping:
        s += (i == mapping[i])
    return s

In [14]:
accuracies9 = np.zeros((n_file))

l = 0 
for name in os.listdir("../data/SchoolData/"):
    print("Now processing:", name)
    full_name = schoolName + name
    infile = open(full_name, "rb")
    data = pickle.load(infile)
    G1 = nx.DiGraph(data["A1"])
    G2 = nx.DiGraph(data["A2"])
    lands1 = dist.find_landmarks(G1, 25)
    lands2 = dist.find_landmarks(G2, 25)
    init_map = {lands1[i] : lands2[i] for i in range(25)}
    new_map = sample.deAnon(G1, G2, init_map, k_iters=5)
    accuracies9[l] = match_correct(new_map) / len(G1)
    l += 1

Now processing: School29data.pkl
Iteration  0  has: False
Now processing: School1data.pkl
Iteration  0  has: False
Now processing: School42data.pkl
Iteration  0  has: False
Now processing: School20data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School31data.pkl
Iteration  0  has: False
Now processing: School21data.pkl
Iteration  0  has: False
Now processing: School51data.pkl
Iteration  0  has: False
Now processing: School58data.pkl
Iteration  0  has: False
Now processing: School48data.pkl
Iteration  0  has: False
Now processing: School49data.pkl
Iteration  0  has: False
Now processing: School22data.pkl
Iteration  0  has: False
Now processing: School40data.pkl
Iteration  0  has: False
Now processing: School3data.pkl
Iteration  0  has: False
Now processing: School27data.pkl
Iteration  0  has: False
Now processing: School45data.pkl
Iteration  0  has: False
Now processing: School10data.pkl
Iteration  0  has: False
Now processing: School19data.pkl
Iteration  0  has: False
Now processing: School26data.pkl
Iteration  0  has: False
Now processing: School44data.pkl
Iteration  0  has: False
Now processing: School60data.pkl
Iteration  0  has: False
Now processing: School56data.pkl
Iteration  0  has: False
Now processing: School24data.pkl
Iteration  0  has: False
Now processing: School34data.pkl
Iteration  0  has: False
Now processing: School35data.pkl
Iteration  0  has: False
Now processing: School13data.pkl
Iteration  0  has: False

In [15]:
accuracies9

array([0.        , 0.        , 0.        , 0.00223714, 0.00568182,
       0.        , 0.        , 0.        , 0.        , 0.00303951,
       0.00164204, 0.        , 0.00892857, 0.00473934, 0.        ,
       0.        , 0.00223714, 0.00568182, 0.00934579, 0.        ,
       0.        , 0.00132802, 0.        , 0.        , 0.        ])

## With Artificial seeds

In [16]:
accuracies10 = np.zeros((n_file))

l = 0 

for name in os.listdir("../data/SchoolData/"):
    print("Now processing:", name)
    full_name = schoolName + name
    infile = open(full_name, "rb")
    data = pickle.load(infile)
    G1 = nx.DiGraph(data["A1"])
    G2 = nx.DiGraph(data["A2"])
    init_seeds = np.random.choice([i for i in range(len(G1))], len(G1))

    init_map = {init_seeds[i] : init_seeds[i] for i in range(20)}
    new_map = sample.deAnon(G1, G2, init_map, k_iters=5)
    accuracies10[l] = match_correct(new_map) / len(G1)
    l += 1

Now processing: School29data.pkl
Iteration  0  has: False
Now processing: School1data.pkl
Iteration  0  has: False
Now processing: School42data.pkl
Iteration  0  has: False
Now processing: School20data.pkl
Iteration  0  has: False
Now processing: School31data.pkl
Iteration  0  has: False
Now processing: School21data.pkl
Iteration  0  has: False
Now processing: School51data.pkl
Iteration  0  has: False
Now processing: School58data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School48data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School49data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School22data.pkl
Iteration  0  has: False
Now processing: School40data.pkl
Iteration  0  has: False
Now processing: School3data.pkl
Iteration  0  has: False
Now processing: School27data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School45data.pkl
Iteration  0  has: False
Now processing: School10data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School19data.pkl
Iteration  0  has: False
Now processing: School26data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School44data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School60data.pkl
Iteration  0  has: False
Now processing: School56data.pkl
Iteration  0  has: True
Iteration  1  has: False
Now processing: School24data.pkl
Iteration  0  has: False
Now processing: School34data.pkl
Iteration  0  has: False
Now processing: School35data.pkl
Iteration  0  has: False
Now processing: School13data.pkl
Iteration  0  has: False

In [17]:
accuracies10

array([0.08370044, 0.09009009, 0.05540166, 0.04250559, 0.05113636,
       0.07092199, 0.04662005, 0.03759398, 0.07352941, 0.06079027,
       0.03284072, 0.15517241, 0.17857143, 0.08530806, 0.07509881,
       0.07604563, 0.04474273, 0.10227273, 0.09345794, 0.03412969,
       0.04      , 0.02656042, 0.04494382, 0.0619195 , 0.09045226])

In [94]:
match_correct(new_map)

15

In [96]:
len(init_map)

15

In [113]:
os.listdir("data/liveJournal/")

['anonymized.txt', 'pair_a_c.txt', 'crawled.txt']

In [119]:
data1

       1000  12156
0       420    420
1       420    430
2       420    435
3       420    574
4       792    479
...     ...    ...
12151   911    762
12152   912    612
12153   912    410
12154   912    609
12155   912    912

[12156 rows x 2 columns]

In [148]:
A1 = pd.read_csv("data/liveJournal/anonymized.txt", sep=" ") - 1
A2 = pd.read_csv("data/liveJournal/crawled.txt", sep=" ") -1

In [155]:
G1 = nx.from_pandas_edgelist(A1)
G2 = nx.from_pandas_edgelist(A2)
answers = pd.read_csv("data/liveJournal/pair_a_c.txt", sep=" ", header=None) -1

In [149]:
land1 = dist.find_landmarks(G1, 40)
land2 = dist.find_landmarks(G2, 40)

In [150]:
len( set(land1).intersection(set(land2)))

4

In [158]:
W = dist.generate_scores(G1, G2, land1, land2)
match, score = dist.find_matching(W, land1, land2)

In [171]:
score =0 
for i in range(len(match)):
    score += (answers[0].iloc[i] == np.argmax(match[:,i]))
score/len(match)

0.915

In [169]:
answers

       0    1
0    674    0
1    374    1
2    253    2
3    845    3
4    751    4
..   ...  ...
995  236  995
996  454  996
997  109  997
998  878  998
999  699  999

[1000 rows x 2 columns]

In [168]:
answers[1].iloc[0]

0

In [164]:
np.argmax(match[:,0])

674

In [173]:
lands_seed = {land1[i] : land2[i] for i in range(40)}
new_map = sample.deAnon(G1, G2, lands_seed, 20)

Iteration  0  has: True
Iteration  1  has: True
Iteration  2  has: True
Iteration  3  has: False

In [191]:
answers.iloc[new_map[374]]

0    374
1      1
Name: 1, dtype: int64

In [189]:
new_map

{374: 1,
 576: 409,
 875: 634,
 469: 64,
 931: 446,
 941: 11,
 198: 8,
 103: 419,
 385: 392,
 57: 432,
 822: 6,
 698: 187,
 1: 129,
 647: 431,
 448: 435,
 158: 444,
 568: 551,
 437: 100,
 102: 474,
 478: 56,
 678: 401,
 566: 26,
 259: 396,
 308: 433,
 842: 28,
 845: 3,
 391: 469,
 871: 593,
 891: 570,
 722: 148,
 775: 607,
 672: 491,
 177: 411,
 419: 57,
 620: 490,
 408: 663,
 972: 481,
 545: 573,
 194: 443,
 23: 213,
 0: 114,
 8: 29,
 9: 631,
 11: 916,
 13: 730,
 18: 782,
 19: 846,
 27: 727,
 28: 35,
 44: 994,
 46: 273,
 51: 865,
 55: 239,
 63: 807,
 64: 98,
 68: 27,
 75: 923,
 77: 531,
 80: 642,
 81: 595,
 85: 935,
 97: 784,
 106: 857,
 108: 803,
 109: 970,
 111: 788,
 116: 985,
 117: 377,
 118: 681,
 121: 60,
 122: 780,
 133: 847,
 138: 643,
 142: 532,
 154: 24,
 167: 961,
 181: 79,
 184: 981,
 200: 525,
 201: 871,
 203: 337,
 205: 73,
 206: 54,
 210: 878,
 217: 341,
 221: 656,
 224: 830,
 229: 77,
 231: 739,
 233: 359,
 243: 867,
 256: 306,
 257: 641,
 275: 257,
 276: 346,
 278: 340,
 281: 562,
 284: 436,
 290: 324,
 292: 290,
 294: 312,
 299: 41,
 301: 689,
 304: 214,
 310: 657,
 324: 991,
 326: 813,
 327: 868,
 330: 122,
 334: 802,
 338: 637,
 343: 155,
 353: 703,
 354: 541,
 357: 760,
 358: 12,
 361: 841,
 370: 437,
 373: 44,
 394: 226,
 400: 356,
 409: 202,
 417: 267,
 418: 719,
 421: 278,
 450: 507,
 453: 639,
 457: 222,
 458: 237,
 462: 154,
 470: 640,
 474: 352,
 487: 161,
 489: 769,
 490: 626,
 496: 21,
 501: 254,
 504: 322,
 505: 931,
 508: 514,
 509: 707,
 513: 229,
 518: 328,
 523: 738,
 525: 545,
 527: 779,
 532: 753,
 536: 793,
 552: 326,
 553: 330,
 554: 789,
 561: 937,
 562: 61,
 580: 456,
 585: 537,
 590: 933,
 592: 113,
 597: 13,
 603: 305,
 605: 355,
 611: 535,
 626: 319,
 633: 936,
 646: 510,
 648: 834,
 651: 858,
 658: 629,
 680: 709,
 682: 538,
 696: 22,
 699: 999,
 706: 539,
 708: 108,
 711: 520,
 715: 227,
 719: 67,
 730: 990,
 754: 132,
 767: 546,
 770: 512,
 779: 718,
 780: 592,
 781: 549,
 787: 547,
 801: 373,
 802: 671,
 806: 492,
 810: 203,
 812: 621,
 816: 590,
 821: 896,
 824: 786,
 825: 833,
 827: 909,
 828: 151,
 832: 932,
 843: 527,
 849: 638,
 853: 166,
 858: 934,
 868: 829,
 870: 862,
 879: 701,
 886: 323,
 895: 676,
 896: 117,
 902: 907,
 906: 374,
 907: 511,
 910: 877,
 915: 763,
 926: 984,
 934: 42,
 936: 205,
 957: 508,
 962: 977,
 966: 891,
 971: 973,
 975: 879,
 978: 993,
 980: 602,
 986: 939,
 993: 897,
 37: 609,
 40: 288,
 52: 762,
 128: 53,
 131: 236,
 134: 190,
 136: 384,
 187: 759,
 204: 741,
 239: 586,
 264: 505,
 383: 800,
 405: 737,
 424: 578,
 736: 270,
 892: 790,
 944: 822,
 973: 811,
 182: 680}

In [200]:
len(new_map)

242

In [192]:
score = 0 
for i in new_map:
    a,b = answers.iloc[new_map[i]]
    score += (a == i)

In [194]:
score/len(new_map)

0.9628099173553719

In [2]:
import numpy as np

In [6]:
v = np.ones((4,1))

In [31]:
score = 0 
n = 100
for i in range(100000):
    A = np.random.random((n,n)) - 0.5*np.ones((n,n))
    score += np.sum(A@A)

In [32]:
score/100000

8.25892993465338

In [34]:
200/24

8.333333333333334

In [17]:
np.sum(A)

-0.13915595839611328